:root{
  --priColor: #DAA520;
  --secColor: #36d9a1;
  --terColor: #1a5a99;

  --fontCol: #bbbbbb;
  --headerCol: #555555;
}

/* Device non-specific designs */
body{
  margin: 0;
}

.hidden {
  display: none;
}

header, main, footer{
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headerCol);
}

p {
  color: var(--fontCol);
}

.jumbotron {
  position: relative;
  z-index: 3;
  background-color: var(--terColor);
  padding: 50px 20px;
}

.jumbotron .container{
  margin: 0 auto;
  padding: 0 15px;
}

.jumbotron h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

nav {
  display: flex;
}

a, nav button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}

@media print{
  @page{
    Size: A4;
  }
  .background{
    display: none;
  }
}