.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .layer1 {
    background-image: url(https://raw.githubusercontent.com/GoldieSloth/APFW/main/TestImages/_0000s_0002_Layer1.png);
    z-index: -3;
  }
  
  .layer2 {
    background-image: url(https://raw.githubusercontent.com/GoldieSloth/APFW/main/TestImages/_0000s_0001_Layer2.png);
    z-index: -2;
  }
  
  .layer3 {
    background-image: url(https://raw.githubusercontent.com/GoldieSloth/APFW/main/TestImages/_0000s_0000_Layer3.png);
    z-index: -1;
  }
  